/target
docs/icon.drawio.svg
*.bin
instances/

.tanstack/
dist/
node_modules/

*.nds
*sav
*.log
logs/
cheats/
core/examples

/config.json
docs/design/
core/tests/
core/lunaris_emu/tests/
core/lunaris_emu/examples/
.serena
