/target
docs/icon.drawio.svg
*.bin

.tanstack/
dist/
node_modules/

*.nds
*.sav
*.log
logs/

*config.json*
.continue/
.claude/
.serena/
docs/design/
cheats/
states/

core/examples/
core/lunaris_emu/examples/
core/lunaris_emu/tests/
