name: Build

on:
  push:
    branches: ["main"]
    paths-ignore:
      - "**/*.md"
  pull_request:
    branches: ["*"]
    paths-ignore:
      - "**/*.md"
  workflow_dispatch:

permissions:
  contents: read

env:
  APP_NAME: lunaris
  BUILD_PROFILE: release
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        platform: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4.2.2
        with:
          submodules: true
      - name: Setup environment
        uses: ./.github/actions/setup-deps
        with:
          platform: ${{ matrix.platform }}
          build_profile: ${{ env.BUILD_PROFILE }}

      - name: Test(Node.js)
        run: npm test
      - name: Build GUI
        run: npm run build

      - name: Move exe -> ./build
        uses: ./.github/actions/setup-release
        with:
          app_name: lunaris
          build_profile: ${{ env.BUILD_PROFILE }}

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v4.6.2
        with:
          name: ${{ env.APP_NAME }}-${{ runner.os }}
          # to include .keep file
          include-hidden-files: true
          path: |
            ./build/
