name: Build(EMU)

on:
  push:
    branches: ["main"]
  pull_request:
    types: [opened, reopened, synchronize]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  PROFILE: dev # dev or release
  BUILD_DIR: debug
  APP_NAME: desk

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        job:
          # default features
          - {
              target: aarch64-apple-darwin,
              os: macos-latest,
              asset: lunaris-aarch64-apple-darwin.tar.gz,
            }
          - {
              target: x86_64-pc-windows-msvc,
              os: windows-latest,
              asset: lunaris-x86_64-pc-windows-msvc.zip,
            }
          - {
              target: x86_64-unknown-linux-gnu,
              os: ubuntu-latest,
              asset: lunaris-x86_64-unknown-linux-gnu.tar.gz,
            }
    runs-on: ${{ matrix.job.os }}
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4.2.2
      - name: Rust setup
        uses: dtolnay/rust-toolchain@stable
      - name: Build and Compress
        uses: ./.github/actions/build-and-compress
        with:
          target: ${{ matrix.job.target }}
          build_dir: ${{ env.BUILD_DIR }}
          profile: ${{ env.PROFILE }}
          app_name: ${{ env.APP_NAME }}
          asset_name: ${{ matrix.job.asset }}
          features: ${{ matrix.job.features }}

      # NOTE: For some reason, the artifact is not pre-compressed even though it is compressed. So we compress it.
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v4.6.2
        with:
          name: ${{ matrix.job.asset }}
          path: |
            ./build/
            ./core/free_bios/bios
