name: Lint(Cargo)

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["*"]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  lint:
    strategy:
      matrix:
        include:
          # - platform: ubuntu-latest
          #   target: x86_64-unknown-linux-gnu
          - platform: windows-latest
            target: x86_64-pc-windows-msvc
          - platform: macos-latest
            target: x86_64-apple-darwin
    runs-on: ${{ matrix.platform }}
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4.2.2

      - name: Setup environment
        uses: ./.github/actions/setup-deps
        with:
          platform: ${{ matrix.platform }}
          build_profile: develop
          install_front_deps: false

      - name: Check format
        run: cargo fmt --all -- --check
      - name: Lint Check
        run: cargo clippy --workspace -- -D warnings

      # The action only supports Linux.
      - name: Check license, dependencies
        if: runner.os == 'Linux'
        uses: EmbarkStudios/cargo-deny-action@v2.0.14
